$button-background: #5373FD;
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    object-fit: cover;
}
a, button {
    transition: all .2s ease;
}
.container {
    width: min(90%, 1320px);
    margin: 0 auto;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #FFF;

}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;    
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

main {
    flex-grow: 1;
}
.banner {
    height: 90vh;
    background-repeat: no-repeat;
    background-image: url(../images/HeaderBackground.jpg);
    background-repeat: no-repeat;
    padding-top: 295px;
    .sub-title {
        margin-bottom: 48px;
        font-size: 1.375rem;
        letter-spacing: 0.42625rem;
        text-align: center;   
    }
}
.container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.logo {
    margin-bottom: 22px;
    line-height: 3.25rem;
}

.search-stroke {
    padding: 20px 5px 20px 36px;
    outline: none;
    width: 606px;
    gap: 211px;
    &::placeholder {
        font-size: 0.875rem;
        letter-spacing: 0.175rem;
        color: #999;
        line-height: 1.25rem;
    }

}
.scroller-down {
    padding-top: 211px;

    a {
        text-decoration: none;
        color: #fff;
        letter-spacing: 0.175rem;
        font-size: 0.875rem;
    }
}
label {
    position: relative;
}
button {
    font-family: 'Aleo', serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.0875rem;
    background-color: $button-background;
    padding: 16px 24px;
    position: absolute;
    top: 3px;
    right: 3px;
    border: 0;
    color: #FFF;
    text-align: start;
    cursor: pointer;
    line-height: 1.25rem;
    transition: ease .5s all;
    &:hover {
        color: #000;
    }
    span {
        position: relative;
        top: -4px;
        margin-left: 12px;
    }
}
.search {
    display: flex;
    justify-content: center;
    position: relative;
}
.header {
    padding: 32px 0;
    height: 82px;
    background-color: #5373FD;
    position: sticky;
    bottom: 0;
}
.navigation {
        display: flex;
        justify-content: space-between;
        .logo-wrap {
            img {
                max-width: 168px;
                height: 20px;
            }
        }
    }
    .navi {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        text-transform: uppercase;
        .nav-link {
            text-decoration: none;
            color: #FFF;
            line-height: 1.25rem;
            transition: all .4s ease;
            &:hover {
                color: #000;
            }
        }
    }
.section-why {
    background: url(../images/WhyBackground.jpg), lightgray 50% / cover no-repeat;
    padding: 124px 0;
}
.section-title {
    font-family: 'Aleo', sans-serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 24px;
}
.text {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    max-width: 648px;
    margin-bottom: 30px;
}
.why-holder {
    display: flex;
    justify-content: space-between;
    gap: 136px;
    flex-direction: row-reverse;
}
.text-holder {
    width: 50%;
    text-align: left;
}
.img-wrapper {
    width: 31%;
}
.img-wrap {
    display: flex;
}
.img-bottom {
    justify-content: flex-end;
    padding-top: 16px;
}
.section-button {
    padding: 20px 32px;
    background: linear-gradient(45deg,#486BFE 39%,#5373FD 25% 100%);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    font-family: 'Aleo', sans-serif;
    color: #fff;
    transition: all .4s ease;
    background-position: -110% 0;
    cursor: pointer;
    &:hover {
        background-color: #486BFE;
    }
}

.search-section {
    padding: 60px 0;
    padding-top: 107px;
    background-color: #333333;
}
.search-list {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    text-align: center;
    position: relative;
    div {
        width: 424px;
    }
    h2 {
        font-family: 'Aleo', serif;
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-transform: capitalize;
        margin-top: 4px;
    }
}
.line {
    overflow: hidden;
    width: 436px;
    top: 0;
}
.line-holder {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        background-image: url(../images/Line.svg);
        background-repeat: no-repeat; 
        width: 436px;
        height: 90px;
        top: -77%;
        left: -58%;
    }
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        background-image: url(../images/Line.svg);
        background-repeat: no-repeat;
        background-size: 100%; 
        width: 436px;
        height: 90px;
        top: -76%;
        left: 51%;
    }
}
.review {
    padding: 220px 0 120px;
    background-image: url(../images/render.jpg);
    background-size: 100%;
    background-repeat: no-repeat;  
}
.review-box {
    background: rgba(35, 35, 35, 0.90);
    max-width: 648px;
    padding: 44px 32px;
}
.review-text {
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-align: left;
}
.review-title {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 1.25rem;
    text-align: left;
}
.sub-title {
    margin-bottom: 16px;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: left;
}

.review-background {
    background-image: url(../images/spain.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    .container {
        display: flex;
        justify-content: flex-end;
    }
}
.tourist-review {
    background-image: url(../images/BG.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 120px;
    padding-bottom: 180px;
}
.section-title {
    font-family: 'Aleo', serif;
    margin-bottom: 60px;
    text-align: center;
    font-size: 2.25rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    text-align: left;
}
.sam-review {
    display: flex;
    .name {
        margin-bottom: 16px;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-transform: uppercase;
        text-align: left;
    }
}
.sam-holder {
    background-color: #333;
    padding-top: 48px;
    padding-left: 60px;
    padding-bottom: 48px;
    padding-right: 60px;
    max-width: 760px;
}
.sam-text {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.75rem;
    font-weight: 300;
    color: #fff;
    position: relative;
    text-align: left;
    i{
        color: transparent;
        padding-left: 34px;
    }
    
    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../images/quote-left.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        top: -5px;
        left: 4px;
    }
}
.contacts {
    color: #2c4058;
    font-family: "GothamBook", sans-serif;
  }
  .contacts__map {
    width: 100%;
    height: 700px;
  }
  .contacts__form {
    position: relative;
    z-index: 5;
    padding: 60px 60px 80px;
    background: url("../img/form-bg/background.jpg"), #fff;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    margin-top: -300px;
    margin-bottom: -248px;
  }
  @media screen and (max-width: 860px) {
    .contacts__form {
      margin: 0;
    }
  }
  .contacts__title {
    margin-bottom: 60px;
  }
  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .contacts__contacts {
    width: 100%;
    margin-right: 15px;
  }
  .contacts__contact {
    font-size: 1.125rem;
    margin-bottom: 45px;
  }
  .contacts__contact a {
    color: inherit;
  }
  .contacts__icon {
    display: inline;
    height: 1em;
    color: #7e5aff;
  }
  .contacts__inputs {
    width: 100%;
    margin-left: 15px;
  }
  .contacts__input {
    color: #2c4058;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(44, 64, 88, 0.6);
    font-size: 1.125rem;
    padding: 1.25rem 0;
    transition: border-color 0.25s;
    margin-bottom: 30px;
  }
  .contacts__input:focus, .contacts__input:focus-visible {
    border-color: #2c4058;
  }
  .contacts__btn {
    margin: 0 0 0 auto;
  }
  


footer {
    padding: 80px 0;
    background-color: #000;
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .footer-img {
        img {
            width: 168px;
        }

    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }
    .footer-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer-img {
        margin-bottom: 8px;
    }
    .footer-sub {
        margin-bottom: 20px;
    }
    svg {
        color: #fff;
        transition: all .4s ease;
        &:hover {
            color: #5373FD;
        }
    }
}
.padding {
    padding: 20px 56px;
    background: linear-gradient(45deg,#486BFE 40%,#5373FD 25% 100%);
    cursor: pointer;
}
.button-holder {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 1399.98px){

}
@media (max-width: 1199.98px) {
    .sam {
        width: 320px;
        height: 336px;
    }
    
}
@media (max-width: 991.98px) {
        .navigation {
            flex-direction: column;
        }
        .logo-wrap {
            width: 100%;
            margin-bottom: 32px;
        }
        .header {
            height: 136px;
            position: static;
        }
        .img-wrapper {
            width: 100%;
            margin: 0 auto;
            display: flex;
        }
        .img-top, .img-bottom {
            width: 100%;
            height: auto;
            display: flex;
        }
        .img-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;    
        }
        .img-wrap {
            display: inline-block;
            text-align: center;
            max-width: 348px;
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
        }
        .text-holder {
            width: 100%;
            text-align: center;
        }
        .section-title {
            text-align: center;
        }
        .why-holder {
            display: block;
        }
        .section-title {
            padding-top: 32px;
        }
        .search-section {
            padding: 60px 0;
            text-align: left;
        }
        .search-list {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
        }
        .search-item {
            max-width: 220px;
            h2 {
                text-align: center;
                max-width: 230px;
                padding-top: 20px;
            }
            div {
                margin: 0 auto;
                width: 230px;
                display: block;
                text-align: center;
            }
        }
        .line-holder {
            &::after {
                display: none;
            }
            &::before {
                display: none;
            }
        }
        .review {
            background-position: center;
        }
        .review-box {
            width: 720px;
            text-align: left;
        }
        .sam-review {
            display: block;
        }
        .sam {
            width: 100%;
            aspect-ratio: 1;
        }
        .sam-holder {
            max-width: 100%;
        }
        .tourist-review {
            padding-bottom: 120px;
            padding-top: 60px;
        }

        
    
}
@media (max-width: 767.98px) {
    .search-stroke {
        width: 540px;
    }
}
@media (max-width: 575.98px) {
    .header {
        height: 84px;
        .navi {
            display: none;
        }
    }
    .image-top {
        width: 252px;
    }
    .image-bottom {
        width: 252px;
    }
    .section-title {
        text-align: center;
    }
    .text-holder {
        max-width: 540px;
    }
    .text {
        max-width: 540px;
    }
    .review-box {
        width: 540px;
    }
    .section-why {
        width: 560px;
        padding: 0 18px;
    }
    .review {
        width: 560px;
        margin: 0 auto;
    }
    .review-box {
        width: 540px;
    }

}
@media (min-width: 350px) and (max-width: 575.98px) {
    .input-holder {
        display: block;
        width: 100%;
    }
    .search-stroke {
        width: 100%;
    }
    .navi {
        display: none;
    }
    .header {
        height: 84px;
    }
}


    
